---
layout: default
title: FineTutor-專屬推薦
page-title: 專屬推薦
home-title: 專屬推薦
description: 專屬推薦
---

{% include header_teacher.html %}
{% include boot_teacher.html %}
<main>
  <!-- bootstrap select -->
  <!-- <script>
    $(document).ready(function(e) {
        $('.selectpicker').selectpicker();
    });
  </script> -->
  <!-- bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <div class="container">
        <div class="title">
            <h1>專屬推薦</h1>
            <p>為您挑選出最符合您需求的3位學生，趕緊發送配對邀請給他/她吧!</p>
        </div>
        <div class = "row" style="margin-top:80px;" id = "AdviceCard">
            <div style = "text-align: center;">
                <p>請再稍後片刻，符合您的專屬配對即將登場！</p>
            </div>
        </div>
    </div>
    <div id = "AdviceModal"></div>
    <style>
        body {
            /* padding: 2em 0; */
            font-family: "Titillium Web", sans-serif;
        }
        @media screen and (min-width: 40em) {
            body {
            font-size: 1.25em;
            }
        }
        nav {
            margin-top:20px;
        }
        a {
            color:rgb(44, 62, 126);
            font-weight:700;
        }
        .nav-pills .nav-link.active{
            background: rgb(63, 87, 124);
        }
        .card-title {
            margin-bottom:30px;
            font-weight: bold;
            font-style:normal;
        }
    </style>

</main>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>        
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="assets/js/advice.js"></script>
{% include footer.html %}