---
layout: default
title: 註冊
page-title: 
home-title: 
description: 
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <!-- <form id="login-form" style="margin-bottom: 40px; display: none;">
      <h4 style="color:rgb(250, 250, 250)">註冊</h4>
       <div class="row" style ="margin:0;">
          <div class="input-field col s6">
            <input type="email" id="login-email" style="padding:0.5rem;" required />
            <label for="login-email" style="color:rgb(202, 202, 202);font-weight: 500;">郵件</label>
          </div>
       </div>
      <div class="row" style ="margin:0;">
        <div class="input-field col s6">
          <input type="password" id="login-password" style="padding:0.5rem;" required />
          <label for="login-password" style="color:rgb(202, 202, 202);font-weight: 500;">密碼</label>
        </div>
      </div>
      <div class = "collection-item">
        <code class = "language-markup"></code>
        <button type="submit" class = "waves-effect waves-lightmodal-trigger" data-target="modal-signup" style="background-color:#342727b9;color:white;">登入</button>
      </div>
      <p class='error'></p>
  </form> -->
  <div class="container" style="margin-top: 130px;">
    <div class="row">
      <div class="col-sm-12 col-md-1"></div>
      <div class="col-sm-12 col-md-4">
        <div class="image">
          <img class="signup_img" src="/assets/img/teacher.png" alt="svg" >
        </div>
      </div>
      <div class="for-top"></div>
      <div class="col-sm-12 col-md-1"></div>
      <div class="col-sm-12 col-md-4">
        <form class="signup" id="signup-form">
          <h5 style="color:rgb(251, 245, 252);font-size:32px;margin-bottom:40px;">註冊Signup</h4>
          <p style="color:rgb(221, 221, 221); font-size:1em; text-decoration:underline cornsilk;">請選擇身分</p>
          <p>
                                        
              <input id = "teacher" type = "radio" name ="identity" value = "teacher" />
              <label for = "teacher" style="color:rgb(221, 221, 221);">老師</label>
          </p>
          <p>
              <input id = "student" type = "radio" name ="identity" value = "student"/>
              <label for = "student" style="color:rgb(221, 221, 221);">學生</label>
          </p>
          <!-- <input type="text" id="signup-name" style="padding:0.5rem;" required />
          <label for="signup-name" style="color:rgb(202, 202, 202);font-weight: 500;">您的名字</label> -->
          <input type="text" id="signup-name" placeholder="您的名字" style="color:rgb(255, 255, 255);" required />
          <input type="email" placeholder="帳號" id="signup-email" style="color:white;" required />
          <input type="password" placeholder="密碼" id="signup-password" style="color:white;" required />
          <button style="margin-top:25px;">signup</button>
          <p class='error'></p>
        </form>
      </div>
      <div class="col-sm-12 col-md-2"></div>
    </div>
    <div class="for-footer"></div>
  </div>
<!-- 
  <form id="signup-form" style="margin-bottom: 40px;">
    <h4 style="color:rgb(250, 250, 250)">註冊</h4>
    <div class="row">
        <div class="input-field col s12">
            <p style="color:rgb(221, 221, 221); font-size:1em; text-decoration:underline cornsilk;">請選擇身分</p>
            <p>
                                          
                <input id = "teacher" type = "radio" name ="identity" value = "teacher" />
                <label for = "teacher" style="color:rgb(221, 221, 221);">老師</label>
            </p>
            <p>
                <input id = "student" type = "radio" name ="identity" value = "student"/>
                <label for = "student" style="color:rgb(221, 221, 221);">學生</label>
            </p>
        </div>
    </div>
    <div class = "row" style ="margin:0;">
      <div class="input-field col s6">
        <input type="text" id="signup-name" style="padding:0.5rem;" required />
        <label for="signup-name" style="color:rgb(202, 202, 202);font-weight: 500;">您的名字</label>
      </div>
     </div>
     <div class="row" style ="margin:0;">
        <div class="input-field col s6">
          <input type="email" id="signup-email" style="padding:0.5rem;" required />
          <label for="signup-email" style="color:rgb(202, 202, 202);font-weight: 500;">郵件</label>
        </div>
     </div>
    <div class="row" style ="margin:0;">
      <div class="input-field col s6">
        <input type="password" id="signup-password" style="padding:0.5rem;" required />
        <label for="signup-password" style="color:rgb(202, 202, 202);font-weight: 500;">密碼</label>
      </div>
    </div>
    <div class = "collection-item">
      <code class = "language-markup"></code>
      <button type="submit" class = "waves-effect waves-lightmodal-trigger" data-target="modal-signup" style="background-color:#342727b9;color:white;">註冊</button>
    </div>
    <p class='error'></p>
</form> -->
</main>
<style>
  .error {
    color:white;
    font-style:italic;
    font-size: 13px;
  }
  .signup {
    overflow: hidden;
    background-color: #434d74;
    padding: 50px 80px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  .signup::before, .signup::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .signup::before {
    left: 40%;
    bottom: -90%;
    background-color: rgba(184, 201, 219, 0.726);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .signup::after {
    left: 20%;
    bottom: -104%;
    background-color: rgba(72, 89, 109, 0.603);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .signup > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .signup > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #47341f;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .signup > button:hover {
    background-color: #2c1e0e;
  }
  .image {
    width:100%;
    height: 80%;
  }
  .signup_img{
    display:block; 
    width:auto;
    height: 100%;
    padding-right:8px;
    /* position: absolute;
    top: 50%; */
    /* left: 30%; */
  }
  .for-footer{
    display:none;
  }
  .for-top{
    display:none;
  }
  @media(max-width:1000px){
    .image {
      width:100%;
      height: 75%;
    }
  }
  @media(max-width:769px){
    .signup_img {
      display:none;
    }
    .signup{
      margin-top:130px;
      /* top:70%; */
    }
    .for-top{
      display:block;
      height: 130px;
    }
    .for-footer{
      display: block;
      height: 200px;
    }
  }
  @media(max-width:500px){
    .signup{
      width:300px;
      padding:55px 40px;
      
    }
  }
  @-webkit-keyframes wawes {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes wawes {
    from {
      -moz-transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes wawes {
    from {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .template a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }

</style>
{% include footer.html %}
