---
layout: default
title: FineTutor-學生資料
page-title: 學生資料
home-title: 學生資料
description: 學生資料
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% include header_student.html %}
{% include boot_student.html %}

<style>
/* navbar start */
nav {
      margin-top:20px;
    }
    a {
      color:rgb(44, 62, 126);
      font-weight:700;
      font-size:20px !important;
    }
    .nav-pills .nav-link.active{
      background: rgb(63, 87, 124);
    }
  /* navbar end */

.personalForm{
	background-color:#424242;
	/* width:900px;  */
	text-align:left;
}
    
  </style>
<main>
  <p>&ensp;</p>
  <div class="pageDiv mt-1 row" style="background-color: white; justify-content: center;">
    <div class="personalForm"  style="margin: 20px; max-width: 800px; width: 900px;">
        <div class="resume" style="color: white; margin: 50px;">
          <h3>學生資料加載中...</h3>
        </div>    </div> 
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% include footer.html %}
<script src="assets/js/studentinfo.js"></script>
