<footer class = "page-footer">
  <div class = "row" style="padding-top:30px;">
      <!-- <div class = "col-sm-12 col-md-6">
        <ul>
            <li><a href = "#" class = "grey-text text-lighten-4" style="font-size:16px;text-decoration: none;color:rgba(255, 255, 255, 0.836);">
              常見問題</a></li><br>
            <li><a href = "#" class = "grey-text text-lighten-4" style="font-size:16px;text-decoration: none;color:rgba(255, 255, 255, 0.836);">
              關於團隊</a></li>
        </ul>
      </div> -->
  </div>
  
  <div class = "footer-copyright">
      <div class = "container">
        <h5>FineTutor 家教網</h5>
        © 2020 Software Studio
      </div>
  </div>         
</footer>

<style>
  footer.page-footer{
    background-color: rgb(42, 55, 80);
    height:200px;
    margin-bottom:-200px;
    color:white;
    text-align: center;
  }
  @media(max-width:767px){
    footer.page-footer{
      /* margin-top:200px; */
      height:250px;
      margin-bottom:-250px;
    }
  }
  
</style>