<!-- 首页及其他页面的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
</head>
<body>
<!-- 页面主体 -->
{{ content }}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.3/firebase-functions.js"></script>
<script>
  // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBkuuXWnhphizT_N6LKB3sdcCg6xPwvA8M",
        authDomain: "finetutor-98cb0.firebaseapp.com",
        databaseURL: "https://finetutor-98cb0.firebaseio.com",
        projectId: "finetutor-98cb0",
        storageBucket: "finetutor-98cb0.appspot.com",
        messagingSenderId: "864292409387",
        appId: "1:864292409387:web:c834ab872f9cde115f9a6e",
        measurementId: "G-9QR6REED4Y"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    const auth = firebase.auth();
    const db = firebase.firestore();
    const functions = firebase.functions();

</script>
<script src="/assets/js/auth.js"></script>
<script src="/assets/js/index.js"></script>
</body>
</html>
